<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/kitchen.html">Küche</a></li>
            <li><a href="{{ site.baseurl }}/impressions.html">Impressionen</a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Teilen" class="tag">
                <span><i class="fa fa-facebook-square"></i> Share</span>
            </a></li>
            <li><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Twittern" class="tag">
                <span><i class="fa fa-twitter-square"></i> Tweet</span>
            </a></li>
            <li><a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Google+" class="tag">
                <span><i class="fa fa-google-plus-square"></i> +1</span>
            </a></li>
        </ul>
    </nav>
</header>
