<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/kitchen.html">Küche</a></li>
            <li><a href="{{ site.baseurl }}/impressions.html">Impressionen</a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Teilen">
                <i class="fa fa-facebook-square"> teilen</i>
            </a></li>
            <li><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Twittern">
                <i class="fa fa-twitter-square"> twittern</i>
            </a></li>
            <li><a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title=" Google+">
                <i class="fa fa-google-plus-square"> +1</i>
            </a></li>
        </ul>
    </nav>
</header>
<p id="header-mobile">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Teilen">
        <i class="fa fa-facebook-square"> teilen</i>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Twittern">
        <i class="fa fa-twitter-square"> twittern</i>
    </a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title=" Google+">
        <i class="fa fa-google-plus-square"> +1</i>
    </a>
</p>
